
.content-body{
      background: linear-gradient(to bottom right, #378c8c 10%, #101e26 100%, #166273);
}

.card-footer{
      background: linear-gradient(to bottom right, #1b3342, #101e26);
      width: 100%;
      height: 200px;
      min-width: 100%;
      min-height: 100px;
      max-width: 100%;
      max-height: 300px;
}

.menu-bar{
      
      background: linear-gradient(to bottom right, #0c171d, #00283f);

      color: rgb(255, 244, 244);
      padding-top: 3rem;
      padding-bottom: 1rem;
      font-family: dm sans, sans-serif;
      font-weight: bold;
      position: sticky;
      top:0;
      z-index: 1;
}

.mylogo{
      height: 5rem;
      width: auto;
      margin-top: -1rem;
      margin-right: 3rem;
}

.a{
      background-color: blanchedalmond;
}

.button{
      background-color: blanchedalmond;
}

h6{
      color: #f4fbff;
      font-family: dm sans, sans-serif;
      padding-left: 5rem;
      display: flex;
}

h5{
      color: #f0faff;
      font-family: dm sans, sans-serif;
      padding-left: 5rem;
      display: flex;
}

h4{
      color: #bdd9f2;
      font-family: dm sans, sans-serif;
      padding-left: 5rem;
      display: flex;
}

.namedev{
      color: #f3faff;
      font-family: 'Bonheur Royale', cursive;
      font-size: 6rem;
      padding-left: 5rem;
}

.nav-link{
      color: white;
}

.myImg {
      display: flex;
      justify-content: center; 
    }
    .myImg img {
      width: 50rem;
      height: auto;
      margin-bottom: 5rem;
      margin-top: -33rem;
      margin-left: 45rem;
      filter: drop-shadow(0 0 10px #bdd9f2);
    }

.content-body{
      display: block;
      justify-content: center;
      padding-top: 10rem;
      padding-left: 10rem;
}

.button-contents {
      display: inline-block;
      justify-content: space-evenly;
      align-items: center; 
      padding-top: 2rem;
      padding-left: 5rem;
  }

.button-download {
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50); /* Gradient with 5 colors */
      padding: 15px 30px; /* Adjust padding to increase button size */
      font-size: 16px; /* Adjust font size */
      border-radius: 10px; /* Add border radius for rounded corners */
      font-family: dm sans, sans-serif; /* Specify font family */
      font-weight: bold;
      border: none; /* Remove initial border */
      /* Add transition for background color */
  }
  
  .button-download:hover {
      background-color: #1695fc;
      transition: background-color 0.5s ease;/* Change background color on hover to blue */
  }
  

  .button-hire {
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50); /* Gradient with 5 colors */
      padding: 15px 30px; /* Adjust padding to increase button size */
      font-size: 16px; /* Adjust font size */
      border-radius: 10px; /* Add border radius for rounded corners */
      font-family: 'dm sans', sans-serif; /* Specify font family */
      font-weight: bold;
      border: none; /* Remove initial border */
      /* background-size: 200% auto; */
      /* transition: background-position 0.5s ease; */
  }
  
  .button-hire:hover {
      /* Reapply the gradient for the hover state */
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50);
      background-color: #1695fc; /* Change background color on hover to blue */
  }
  

.footer-label{
      display: flex;
      justify-content: center;
      color: #f0faff;
      padding-top: 2rem;
      font-family: dm sans, sans-serif;
      font-size: 3rem;
}

.about{
      background: linear-gradient(to bottom right, #1b3342, #101e26);
      width: 100%;
      height: 20rem;
      min-width: 100%;
      min-height: 45rem;
      max-width: 100%;
      max-height: 300px;
}

.twitteracc{
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50); /* Gradient with 5 colors */
      padding: 1rem 3rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 3rem;
      color: rgb(0, 0, 0);
      font-family: dm sans, sans-serif;
      border: none;
      /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 1); */
}

.abt{
      display: flex;
      justify-content: center;
      padding-left: 60rem;
      padding-top: 15rem;
}

.projects{
      background: linear-gradient(to bottom right, #080e13, #101e26);
      width: 100%;
      height: 20rem;
      min-width: 100%;
      min-height: 45rem;
      max-width: 100%;
      max-height: 300px;
      display: block;
}

.hireme{
      background: linear-gradient(to bottom right, #1b3342, #101e26);
      width: 100%;
      height: 20rem;
      min-width: 100%;
      min-height: 45rem;
      max-width: 100%;
      max-height: 300px;
}

.contact{
      background: linear-gradient(to bottom right, #1b3342, #101e26);
      width: 100%;
      height: 20rem;
      min-width: 100%;
      min-height: 45rem;
      max-width: 100%;
      max-height: 300px;
}

.certificates{
      background: linear-gradient(to bottom right, #1b3342, #101e26);
      width: 100%;
      height: 20rem;
      min-width: 100%;
      min-height: 45rem;
      max-width: 100%;
      max-height: 300px;
}

.products{
      background: linear-gradient(to bottom right, #1b3342, #101e26);
      width: 100%;
      height: 20rem;
      min-width: 100%;
      min-height: 45rem;
      max-width: 100%;
      max-height: 300px;
}


.project-card {
      display: flex;
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50); /* Gradient with 5 colors */
      width: 18rem; /* Adjust width as needed */
      height: 25rem;
      min-width: 10rem;
      min-height: auto;
      max-width: 80rem;
      max-height: auto;
      border-radius: 5rem;
      margin-left: 5rem;
      margin-top: 3rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Vertically center the child */
      align-items: center; /* Horizontally center the child */
  }


.project-label{
      display: flex;
      justify-content: flex-end;
      margin-right: 18rem;
      margin-top: -20rem;
      font-size: 1.5rem;
      color: whitesmoke;
  }
  
  .card-background {
      padding-top: 3rem;
      padding-bottom: 5rem;
      width: 70%;
      height: auto;
      border-bottom-left-radius: 10px; /* Adjust border radius to match the parent */
      border-bottom-right-radius: 10px; /* Adjust border radius to match the parent */
  }
  

  .project-card2 {
      display: flex;
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50); /* Gradient with 5 colors */
      width: 18rem; /* Adjust width as needed */
      height: 25rem;
      min-width: 10rem;
      min-height: auto;
      max-width: 80rem;
      max-height: auto;
      border-radius: 5rem;
      margin-top: -25rem;
      margin-left: 25rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Vertically center the child */
      align-items: center; /* Horizontally center the child */
  }
  
  .card-background2 {
      padding-bottom: 9rem;
      width: 70%;
      height: auto;
      border-bottom-left-radius: 10px; /* Adjust border radius to match the parent */
      border-bottom-right-radius: 10px; /* Adjust border radius to match the parent */
  }


  .project-card3 {
      display: flex;
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50); /* Gradient with 5 colors */
      width: 18rem; /* Adjust width as needed */
      height: 25rem;
      min-width: 10rem;
      min-height: auto;
      max-width: 80rem;
      max-height: auto;
      border-radius: 5rem;
      margin-top: -25rem;
      margin-left: 45rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Vertically center the child */
      align-items: center; /* Horizontally center the child */
  }
  
  .card-background3 {
      padding-bottom: 9rem;
      width: 70%;
      height: auto;
      border-bottom-left-radius: 10px; /* Adjust border radius to match the parent */
      border-bottom-right-radius: 10px; /* Adjust border radius to match the parent */
  }


  .project-card4 {
      display: flex;
      background: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50); /* Gradient with 5 colors */
      width: 18rem; /* Adjust width as needed */
      height: 25rem;
      min-width: 10rem;
      min-height: auto;
      max-width: 80rem;
      max-height: auto;
      border-radius: 5rem;
      margin-top: -25rem;
      margin-left: 65rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Vertically center the child */
      align-items: center; /* Horizontally center the child */
  }
  
  .card-background4 {
      padding-bottom: 9rem;
      width: 70%;
      height: auto;
      border-bottom-left-radius: 10px; /* Adjust border radius to match the parent */
      border-bottom-right-radius: 10px; /* Adjust border radius to match the parent */
  }

  .cards-github {
      display: flex;
      justify-content: center;
      margin: 0 auto; /* Shorthand for setting both left and right margins to auto */
      width: 170rem;
      height: 37rem;
      min-width: 90rem;
      min-height: auto;
      max-width: 50rem;
      max-height: auto;
      border-radius: 10rem;
      color: #00ff8b;
      font-size: 2rem;
      border: 0.1rem solid transparent; /* Set border with a transparent color */
      border-image: linear-gradient(to bottom right, #1c99ff, #00b8d4, #00d7b3, #00ff8b, #4caf50) 1; /* Apply gradient as border image */
    }
    
    .cards-github-head {
      display: flex;
      justify-content: center;
      /* margin-left: auto;
      margin-right: auto; */
      padding-top: 1rem;
      padding-right: 40rem;

      width: auto;
      height: 35rem;
      min-width: 90rem;
      min-height: auto;
      max-width: 50rem;
      max-height: auto;
    }

    .cards-github-label {
      display: flex;
      justify-content: center;
      margin-left: auto;
      margin-right: 50rem;

      text-align: center;
      font-size: 2rem;
      color: whitesmoke;

      padding-top: 10rem;
      padding-left: 1rem;
    }